<div class="category-list-div">
  <%= render 'components/category', category: category %>
  <h6>600kr</h6>
  <h6>-36000kr</h6>
  <h6>2400kr</h6>
  <div class="progress-view">
    <div class="progress-bar-container">
      <div class="progress-bar" style="width: 50%; background-color: yellow;">
      </div>
    </div>
    <h6>50%</h6>
  </div>
  <div class="category-arrow row-arrow" data-toggle="collapse" data-row-id="row-selector-<%= index %>">
    <%= icon('fas', 'chevron-down') %>
  </div>
</div>
<div class="category-selector-div" class="collapse" id="row-selector-<%= index %>">
  <% current_user.categories.each do |category| %>
    <%= render 'components/category', category: category %>
  <% end %>
</div>
