<%= render 'components/category', category: category %>
<!-- budget start -->
<% if defined? budgets %>
  <% budget = budgets.find_by(category: category) %>
<% end %>
<% unless budget %>
  <% budget = Budget.new %>
<% end %>
<%= simple_form_for budget, remote: true, html: { class: "budgetForm"} do |f| %>
  <%= f.input_field :amount, class: "bud-field", tabindex: "#{category.id}", value: f.object.amount_cents / 100 %>
  <%= f.input_field :month_from, as: 'hidden', value: selected_month %>
  <%= f.input_field :category, as: 'hidden', value: category.id %>
<% end %>
<!-- budget end -->
<!-- transactions start -->
<% if transactions %>
  <% cat_trans = transactions.where(category: category) %>
  <% cat_trans_sum = cat_trans.sum(:amount_cents) %>
<% else %>
  <% cat_trans = [] %>
  <% cat_trans_sum = 0 %>
<% end %>
<h6><%= cat_trans_sum / 100.00 %></h6>
<!-- transactions end -->
<!-- remaining end -->
<% remaining = cat_trans_sum > 0 ? budget.amount_cents + cat_trans_sum : budget.amount_cents - cat_trans_sum.abs  %>
<h6><%= category.balance(selected_month) / 100 %></h6>
<!-- remaining end -->
<!-- progress end -->
<%
    prev_and_budgeted = category.balance(prev_month) + budget.amount_cents
  if prev_and_budgeted < 0
    percentage = 100
    p '1'
  elsif prev_and_budgeted == 0 && cat_trans_sum == 0
    percentage = 0
    p '2'
  elsif prev_and_budgeted == 0 && cat_trans_sum < 0
    percentage = 100
    p '3'
  else
    percentage = ((cat_trans_sum.abs / prev_and_budgeted.to_f) * 100).to_i
    p '4'
  end
 %>

 <div class="progress-view" data-percentage="<%= percentage %>">
  <div class="progress-bar-container">
    <div class="progress-grow" style="width: <%= percentage %>%;">
    </div>
  </div>
  <h6><%= percentage %>%</h6>
</div>
<div class="category-arrow row-arrow" data-row-id="row-selector-<%= category.id %>">
  <%= icon('fas', 'chevron-down') %>
</div>


