<div class="category-list">
  <div class="category-list-div">
    <h6>Category</h6>
    <h6>Budgeted</h6>
    <h6>Spent</h6>
    <h6>Remaining</h6>
    <h6>October</h6>
  </div>
  <div class="category-list-div">
    <%= render 'components/category' %>
    <h6>600kr</h6>
    <h6>-36000kr</h6>
    <h6>2400kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="category-list-div">
    <%= render 'components/category' %>
    <h6>1000kr</h6>
    <h6>-300kr</h6>
    <h6>120000kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="category-list-div">
    <%= render 'components/category' %>
    <h6>5400kr</h6>
    <h6>-700kr</h6>
    <h6>800kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="category-list-div">
    <%= render 'components/category' %>
    <h6>6050kr</h6>
    <h6>-1600kr</h6>
    <h6>2410kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="category-list-div">
    <%= render 'components/category' %>
    <h6>6000kr</h6>
    <h6>-3600kr</h6>
    <h6>2400kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="category-list-div">
    <%= render 'components/category' %>
    <h6>4100kr</h6>
    <h6>-3700kr</h6>
    <h6>900kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="category-list-div border-bottom-0">
    <%= render 'components/category' %>
    <h6>1900kr</h6>
    <h6>-3300kr</h6>
    <h6>1230kr</h6>
    <div class="progress-view">
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%; background-color: yellow;">
        </div>
      </div>
      <h6>50%</h6>
    </div>
    <div class="category-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
</div>
