 <div class="inbox-list-div">
  <%= link_to confirm_path(transaction: { id: inbox.id }), method: :patch, remote: true do %>
    <%= icon('fas', 'check-circle', class: "confirm-trans") %>
  <% end %>
  <%= render 'components/category', category: inbox.category %>
  <h6><%= inbox.datetime.strftime("%d %b %y:%d") %></h6>
  <h6><%= inbox.store %></h6>
  <h6><%= inbox.amount %></h6>
  <div class="inbox-arrow">
    <%= icon('fas', 'chevron-down') %>
  </div>
</div>
