<div class="transaction-list">
  <div class="transaction-list-div">
    <h6>Category</h6>
    <h6>Date</h6>
    <h6>Info</h6>
    <h6>Spent</h6>
    <h6>October</h6>
  </div>
  <div class="transaction-list-div">
    <%= render 'components/category' %>
    <h6>Tue 1 Oct 14:00</h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-2400kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="transaction-list-div">
    <%= render 'components/category' %>
    <h6>Sun 29 Sep 16:43</h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-120000kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="transaction-list-div">
    <%= render 'components/category' %>
    <h6>Thu 24 Sep 09:12</h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-800kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="transaction-list-div">
    <%= render 'components/category' %>
    <h6>Mon 22 Oct 22:35</h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-2410kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="transaction-list-div">
    <%= render 'components/category' %>
    <h6>Wed 18 Sep 07:00 </h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-2400kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="transaction-list-div">
    <%= render 'components/category' %>
    <h6>Fri 14 Sep 15:15</h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-900kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
  <div class="transaction-list-div border-bottom-0">
    <%= render 'components/category' %>
    <h6>Sat 12 Sep 17:36</h6>
    <h6>Circle k Livold Livold Sør-audnedal</h6>
    <h6>-1230kr</h6>
    <div class="transaction-arrow">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
</div>
