<div class="container list-container budget-container">
  <div class="header">
    <div class="budget-info-cards">
      <%= render 'components/budget_info' %>
    </div>
    <div class="category-transaction-view income-trans" id="row-selector-<%= current_user.income_cat.id if current_user.income_cat %>">
      <%= render 'components/category_list_dropdown', category: current_user.income_cat %>
    </div>
    <div class="category-list-div list-header">
      <h6>Category</h6>
      <h6>Overflow</h6>
      <h6>Budgeted</h6>
      <h6>Spent</h6>
      <h6>Remaining</h6>
      <%= render 'components/month_selector' %>
    </div>
  </div>
  <div id="categoryListContainer">
    <%= render 'components/category_list' %>
  </div>
</div>


<%= javascript_pack_tag 'category_budgets' %>
