<div class="container list-container budget-container">
  <div class="header">
 <!--  <h3 class="page-title">Budget</h3> -->
    <div class="budget-info-cards">
      <%= render 'components/budget_info', budgets: @budgets, transactions: @transactions %>
    </div>
    <div class="category-transaction-view income-trans" id="row-selector-<%= current_user.categories.find_by(name: 'Income').id %>">
      <%= render 'components/category_list_dropdown', category: current_user.categories.find_by(name: 'Income'), transactions: @transactions %>
    </div>
    <div class="category-list-div list-header">
      <h4>Category</h4>
      <h4>Budgeted</h4>
      <h4>Spent</h4>
      <h4>Remaining<!-- (from <%= @prev_month %>) --></h4>
      <h4></h4>
      <%= render 'components/month_selector' %>
    </div>
  </div>
  <div id="categoryListContainer">
    <%= render 'components/category_list', budgets: @budgets, selected_month: @selected_month, transactions: @transactions, prev_month: @prev_month %>
  </div>
</div>


<%= javascript_pack_tag 'color' %>
